{{#if blogs.length}}
{{#each blogs as |blog|}}
<div class="card">

    <a href="/editBlog/{{blog.id}}" class="blogs">
        <div class="card-header">
            <h4>{{blog.title}}</h4>
            <p>{{format_date blog.created_date}}</p>
        </div>
    </a>

</div>
{{/each}}
{{/if}}
<div class="position-absolute bottom-0 start-50 translate-middle-x">
    <button class="btn newPostBtn" id="create">+ New Post</button>
</div>

<script src="/js/dashboard.js"></script>