{{#if blogs.length}}
{{#each blogs as |blog|}}
<div class="card">

    <a href="/blog/{{blog.id}}">
        <div class="card-header">{{blog.name}}<p>{{format_date blog.date_created}}</p>
        </div>
    </a>

</div>
{{/each}}
{{/if}}
<div class="position-fixed bottom-0 p-3">
    <button class="btn btn-primary" id="create">+ New Post</button>
</div>

<script src="/js/dashboard.js"></script>