{{#each blogs as |blog|}}
   <div class="card">
            <div class="card-header">
              <h4>{{blog.title}}</h4>
              <p>Posted by {{blog.user.name}} on {{format_date blog.created_date}}</p>
            </div>
            <div class="card-body">
              <p class="card-text">{{blog.contents}}</p>
            </div>
          </div>
{{/each}}