{{#each blogPosts as |blogPost|}}
   <div class="card">
            <div class="card-header">
              <h4>Why MVC is so important</h4>
              <p>Posted by Xandromous on 5/8/2020</p>
            </div>
            <div class="card-body">
              <p class="card-text">MVC allows developers to maintain a true seperation of concerns devising their code between the Model layer of data, the View layer for design, anmd the Controller layer for application logic.</p>
            </div>
          </div>